*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root{
  --fundo: #F3F6FA;
  --card: #FFFEFF;
  --textoPrincipal: #1E1E1E;
  --textoSecundario: #666666;
  --botaoPrincipal: #4CAF50;
  --botaoHover: #45A049;
  --skills: #E0E7FF;
  --skillsHover: #C7D2FE;
}

body{
  width: 100%;
  min-height: 100vh;
  background-color: var(--fundo);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  width: 100%;
  max-width: 400px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card);
  border-radius: 12px;
  padding: 20px;
  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.profile-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.profile-card img{
  width: 156px;
  height: 156px;
  border-radius: 50%;
}

.profile-card h2{
  color: var(--textoPrincipal);
  padding: 8px;
}

.profile-card h3{
  color: var(--textoPrincipal);
  padding-top: 24px;
  padding-bottom: 8px;
}

.profile-card p{
  color: var(--textoSecundario);
}

.skills{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills span{
  color: var(--textoPrincipal);
  background-color: var(--skills);
  padding: 8px 16px;
  border-radius: 8px;
}

.skills span:hover{
  background-color: var(--skillsHover);
}

button{
  width: 120px;
  height: 40px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #FFF;
  background-color: var(--botaoPrincipal);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover{
  background-color: var(--botaoHover);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  cursor: pointer;
}

@media (max-width: 500px){
  .profile-card{
    width: 90%;
  }
}